version: "3.9"
services:
  db:
    image: mysql:8.0
    environment:
      - MYSQL_DATABASE=POLL_DB
      - MYSQL_USER=user
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=root
    ports:
      - "3307:3306"
    volumes:
      - ./resources/db-migrations:/docker-entrypoint-initdb.d/
    command: --default-authentication-plugin=mysql_native_password
